<div class="container">
    <div class="row">
        <div class="col-md-12">
          <label for="servername">servername</label>
          <!-- <input type="text" class="form-control" [(ngModel)]="servername"> -->
          <input type="text" class="form-control" #servername_localreference>
       
       
          <label for="servercontent">servercontent</label>
          <input type="text" class="form-control" [(ngModel)]="servercontent">
     
      <br>
       
         <button class="btn btn-success mr-1" (click)="AddServer(servername_localreference)">Addserver</button>
         <button class="btn btn-primary" (click)="AddBlueprint()">Addblueprint</button>
        </div>
      </div>
</div>
