
 <app-header (featureselected)="onnavigate($event)"></app-header>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes *ngIf="loadedfeature==='recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedfeature!=='recipe'"></app-shopping-list>
<h1>ji</h1>
    </div>
  </div>
</div>


<!-- <div class="container">
  <app-cockpit (servercreated)="OnServerAdded($event)"
  (blueprintcreated)="OnBluepriniAdded($event)"
 
  
  ></app-cockpit>
   <hr>
   <button class="btn btn-danger" (click)="Oncomponentdestroy()">destroy component</button>
   <app-server-elements *ngFor="let serverelement of serverelements" [element]="serverelement"></app-server-elements>
 </div> -->